@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Krona+One&family=Poppins&family=Zen+Dots&display=swap');
body {
  font-family: Encode Sans Expanded !important;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
  background-color: turquoise;
  color: black;
}
header > div {
  display: block;
  font-size: 24px;
}
nav {
  display: flex;
  gap: 12px;
}
nav > a {
  text-decoration: none;
  color: black;
}
.main {
  padding: 30px 15px;
}

h1 h2 h3 {
  font-family: Krona One;
}
.main{
  margin-top: 10px;
}
