{% extends "base.html" %} {% block content %}

<h1 class="">G a l l e r<button class="btn btn-transparent d-inline fs-2" id="toggleButton">Y</button></h1>



<div class="container-fluid">
  <div class="row safe-content">
  {% for image in api_response %}
    {% if image.is_safe %}
    <div class="" style="width:300px">
        <a href="">
          <img class="img-thumbnail img-fluid" src="{{image.image_url}}" alt="image">
        </a>  
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <div class="row not-safe-content hidden" >
    {% for image in api_response %}
      {% if not image.is_safe %}
      <div class="" style="width:300px">
          <a href="">
            <img class="img-thumbnail img-fluid" src="{{image.image_url}}" alt="image">
          </a>  
        </div>
      {% endif %}
    {% endfor %}
    </div>

</div>
{% endblock content %}
